
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>{% block title %}{% endblock %}</title>
        <script type="text/javascript" src="https://www.accountchooser.com/ac.js" ></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/djac-config.js" ></script>
        {% block head %}{% endblock %}
    </head>
    <body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">
        <div id="body">
            {% block body %}
            <div class="content_title">
                {% block content_title %}{% endblock %}
            </div>
            <div class="content">
                {% block content %}{% endblock %}
            </div>
            {% endblock %}
        </div>
        <script type="text/javascript">
          (function() {
           var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
           po.src = 'https://apis.google.com/js/client:plusone.js';
           var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
         })();
        </script>
    </body>
</html>