{% extends "base.html" %}

{% block title %}Demo Account Chooser{% endblock %}
{% block body_class %}{{ block.super }} demo{% endblock %}
{% block account_chooser %}
<script type="text/javascript" src="https://www.accountchooser.com/ac.js" ></script>
{% endblock %}

{%block body%}
<h1>THIS IS INDEX PAGE</h1>
<h2>LIST OF urls</h2>
<ul>
	{% for single_url in url_list %}
		{% if 'admin' not in single_url %}
			{% if '<' not in single_url%}
			<li><a href="{{single_url}}"> {{single_url}} </a></li>
			{% else %}
			<li><a href="#"> {{single_url}} </a></li>
			{% endif %}
		{% endif %}
{% endfor %}
</ul>

{# gplus sharing button #}
<button
  class="g-interactivepost"
  data-contenturl="beta.kotob.me"
  data-contentdeeplinkid="/pages"
  data-clientid= {{ client_id }}
  data-cookiepolicy="single_host_origin"
  data-prefilltext="standred text to chang late"
  data-calltoactionlabel="CREATE"
  data-calltoactionurl="http://plus.google.com/pages/create"
  data-calltoactiondeeplinkid="/pages/create">
  share on gplus
</button>


{# facebook invent people  #}
 <div id="fb-root"></div>
    <script src="http://connect.facebook.net/en_US/all.js"></script>
    <p>
    <input type="button"
      onclick="sendRequestViaMultiFriendSelector(); return false;"
      value="invent your friends on FB"
    />
    </p>
    
    <script>
      FB.init({
        appId  : {{ FB_id }},
        frictionlessRequests: true
      });
      function sendRequestViaMultiFriendSelector() {
        FB.ui({method: 'apprequests',
          message: 'My Great Request'
        }, requestCallback);
      }
      
      function requestCallback(response) {
        // Handle callback here
      }
    </script>


{% endblock %}
