{% extends "base.html" %}

{% block title %}Demo Account Chooser{% endblock %}
{% block body_class %}{{ block.super }} demo{% endblock %}
{% block account_chooser %}
<script type="text/javascript" src="https://www.accountchooser.com/ac.js" ></script>
{% endblock %}

{%block body%}
<h1>THIS IS INDEX PAGE</h1>
<h2>LIST OF urls</h2>
<ul>
	{% for single_url in url_list %}
		{% if 'admin' not in single_url %}
			{% if '<' not in single_url%}
			<li><a href="{{single_url}}"> {{single_url}} </a></li>
			{% else %}
			<li><a href="#"> {{single_url}} </a></li>
			{% endif %}
		{% endif %}
{% endfor %}
</ul>


{% endblock %}
